﻿body{
	background-image: url("../images/fineArtsBuilding.jpg");
	background-size: cover;
	background-repeat: no-repeat;
    background-color: rgba(0, 103, 71, 0.65);
}

.layer {
    background-color: rgba(0, 103, 71, 0.65);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#navBar
{
    position: relative;
    border-bottom: 2px solid black;
}
#navBar .navItem
{
    float: right;
}

#content
{
    min-width: 950px;
}
#contentLeft
{
    width: 45%;
    background-color: lightgray;
    margin-left: 20px;
    float:left;
}
#contentRight
{
    width: 45%;
    background-color: lightgray;
    margin-right: 20px;
    float: right;
}

#JurySetupModal
{
    height: 90%;
    width: 80%;
    background-color: white;
}
#calIconStart
{
    height: 20px;
    width: 20px;
}
#calIconEnd
{
    height: 20px;
    width: 20px;
}
.calendarContainer
{
    height: 40px;
    vertical-align: top;
}
.dateContainer
{
    float:left;
    padding-top: 5px;
    padding-left: 5px;
}
.iconContainer
{
    float:left;
    padding-top: 5px;
    padding-left: 5px;
}


