body{
	background-image: url("../images/fineArtsBuilding.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}
.layer {
    background-color: rgba(0, 103, 71, 0.65);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#errorText
{
    text-align: center;
    margin-top: 5px;
}

table{
	margin-left:auto;
	margin-right:auto;
}
td{
text-align: center;	
}
@font-face {
    font-family: myFirstFont;
    src: url("flashrogers.ttf");
}
h1{	
    margin-top: 15px;	
	text-align:center;
	font-family: "myFirstFont";
	color: rgb(0, 103, 71);
	text-outline: 1px 1px rgb(255, 103, 71);
	font-size:55px;
	margin-bottom:auto;
}

img{
	border: 2px solid rgb(0,103,71);
}

h3{
	color: rgb(0, 103, 71);
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	
	margin-left: 10px;
}


#outsideBorder{ 
z-index: -1px;
border: 2px solid rgba(0,103,71,0.9); 
background-image: url("../images/staff.jpg"); 
height:300px;
width:640px;
margin-left:auto;
margin-right:auto;
margin-top:100px;
margin-bottom:auto;
background-color: white;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9), 0 6px 20px 0 rgba(0, 0, 0, 0.9);
}

#mainBorder{ 
border: 2px solid rgb(0, 103, 71); 
height:150px;
width:400px;
margin-left:auto;
margin-right:auto;
margin-top:15px;
margin-bottom:auto;

background-color:lightgray;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}