﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="signedUp.aspx.cs" Inherits="JuryDuty.signedUp" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Jury Duty</title>
    <link type="text/css" rel="stylesheet" href="~/css/studentView.css"/>
</head>
<body>
    <div class="layer" >
    <div id="outsideBorder">
    <form id="form1" runat="server">
        <h1><span runat="server" id="fullName"></span></h1>
    <h2> <span runat="server" id="Times"></span></h2>
    <div>
    
    </div>
        <div class="confBtn">
         <asp:Button runat="server" ID="return" OnClick="return_Click" text="Return" />
   
         <asp:Button runat="server" ID="Button1" OnClick="logout_Click" text="Logout" />
    </div>
    </form>
        </div>
        </div>
</body>
</html>
